@import 'tailwindcss';

@layer components {
  .btn-primary {
    @apply text-white font-bold py-2 px-4 rounded shadow-md transition duration-200 hover:-translate-y-0.5 hover:shadow-lg hover:shadow-pink-400/40;
    background-color: #eb5770;
  }

  .header-footer {
    @apply text-white py-4 px-6;
    background-color: #4a7d8a;
  }

  .card-custom {
    @apply rounded-lg shadow-lg p-6;
    background-color: #f0f6ff;
  }

  .text-btn-primary {
    @apply font-medium;
    color: #ff4a58;
  }
  /* Clases reutilizables para navegación */
  .nav-card {
    @apply block text-center p-4 rounded-lg bg-white shadow-sm
         hover:shadow-md hover:bg-gray-50
         transition font-medium;
  }

  .nav-card-active {
    @apply ring-2 ring-blue-500 bg-blue-50;
  }
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@layer utilities {
  .animate-girar {
    animation: girar 2s linear infinite;
  }
}
